body {
    background: #0f1115;
    font-family: Arial;
    color: white;
    text-align: center;
}

.container {
    margin-top: 80px;
}

.logo span {
    color: #00d4ff;
}

.drop-area {
    border: 2px dashed #555;
    padding: 40px;
    margin: 20px;
    cursor: pointer;
}

.drop-area.active {
    border-color: #00d4ff;
}

button {
    background: #00d4ff;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
}

.progress-container {
    width: 80%;
    margin: auto;
    background: #222;
}

#progressBar {
    height: 5px;
    width: 0%;
    background: #00d4ff;
}

.success-box {
    margin-top: 20px;
}

.download-btn {
    display: block;
    margin-top: 10px;
    color: #00d4ff;
}