<!DOCTYPE html>
<html>
<head>
    <title>Text</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

<div class="top-bar">
    <div class="branding">Dropiq</div>
    <a href="/" class="upload-btn">⬅ Back</a>
</div>

<div class="main-card">

    <textarea id="textBox" placeholder="Paste or type your text here..."></textarea>

    <button onclick="clearText()" class="upload-btn" style="margin-top:20px;">
        Clear Text
    </button>

</div>

<script>
const textBox = document.getElementById("textBox");

/* Load saved text when page opens */
window.onload = function() {
    const savedText = localStorage.getItem("dropiq_text");
    if (savedText) {
        textBox.value = savedText;
    }
};

/* Save text while typing */
    textBox.addEventListener("input", function() {
    localStorage.setItem("dropiq_text", textBox.value);
});

/* Clear text manually */
function clearText() {
    textBox.value = "";
    localStorage.removeItem("dropiq_text");
}
</script>

</body>
</html>
